mixin text(title, src, paragraph)
    .text
        h2.text__title(class={text__title_color: colorTitle === 'white'}) 
            | #{title}
        img.text__line(src=src, alt="line")
        .text__paragraph(
            class={text__paragraph_color: colorParag === 'light'},
            class={text__paragraph_center: center === true}
        ) #{paragraph}

mixin rezult(src, w1, w2, num)
    .aboutus__item
        img.aboutus__icon(src=src, alt="pic")
        .aboutus__descr.
            #{w1} 
            #[br]
            #{w2} 
        .aboutus__num #{num}

mixin servicesCards(src, w1, w2, text)
    .services__card
        img.services__icon(src=src, alt='...')
        .services__title.
            #{w1} 
            #[br]
            #{w2}
        .services__descr #{text}

mixin history__block(classforBlock, classforCircle, classforTriangle, classforSquare1, title, date, descr)
    .history__block(class=classforBlock)
        .history__circle(class=classforCircle)
        .history__triangle(class=classforTriangle)
            .history__square1(class=classforSquare1)
            .history__square2
        .history__title #{title}
        .history__date #{date}
        .history__descr #{descr}

mixin social(facebook, twitter, behance)
    a.header__link(href="#"): img.header__mini-icon(src=facebook, alt="facebook")
    .header__border
    a.header__link(href="#"): img.header__mini-icon(src=twitter, alt="twitter")
    .header__border
    a.header__link(href="#"): img.header__mini-icon(src=behance, alt="behance")

mixin ourteam_item(src, name, profession)
    .ourteam__item
        img.ourteam__img(src=src alt="photo")
        .ourteam__inf
            .ourteam__name #{name}
            .ourteam__profession #{profession}
            .ourteam__line
            .ourteam__social
                +social("img/main/our_team/icons/facebook.png", "img/main/our_team/icons/tweter.png", "img/main/our_team/icons/behance.png")

mixin portfolio__btn(name, value)
    button.portfolio__btn(value=value) #{name}

mixin portfolio__item(theme, src, height, width="100%")
    .portfolio__item(data-theme=theme)
        img(src=src, alt=pic, style={height: height, width: width})
        .portfolio__fog(style={height: height, width: width})

mixin prices__card(title, src, dollar, descr)
    .prices__card
        .prices__title #{title}
        .prices__icon
            img(src=src, alt="pic")
        .prices__price #{dollar}
        .prices__descr
            .prices__thesis #{[descr[0]]}
            .prices__thesis #{[descr[1]]}
            .prices__thesis #{[descr[2]]}
            .prices__thesis #{[descr[3]]}
            .prices__thesis #{[descr[4]]}
        button.prices__button Sign Up

mixin blog__elem-text(bgColor, lineColor, date, title, descr)
    .blog__elem.blog__elem-text(style={background: bgColor})
        .blog__date #{date}
        .blog__line(style={background: lineColor})
        .blog__title #{title}
        .blog__descr #{descr}
mixin blog__elem-pic(src)
    .blog__elem.blog__elem-pic
        img(src=src, alt='pic')

mixin clients__img(src)
    img.clients__img(src=src, alt='pic')

mixin main-blog__content(src, title, date, num, watch, cases, descr, href)
    .main-blog__content
        img.main-blog__img(src=src, alt='pic')
        h2.main-blog__title #{title}
        .main-blog__date #{date}
        .main-blog__statistics
            .main-blog__statistic
                img.main-blog__img(src='../img/blog/blog/icons/comments.svg')
                .main-blog__num #{num}
            .main-blog__statistic
                img.main-blog__img(src='../img/blog/blog/icons/watch.svg')
                .main-blog__num #{watch}
            .main-blog__statistic
                img.main-blog__img(src='../img/blog/blog/icons/case.svg')
                .main-blog__num #{cases}
        .main-blog__descr #{descr}
        a(href=href) 
            button.main-blog__button Read More

mixin sidebar__post(src, title, text)
    .sidebar__post
        img(src=src, alt='pic')
        .sidebar__content
            .sidebar__post-name #{title}
            .sidebar__post-text #{text}

mixin sidebar__line(classMt)
    .sidebar__line(class=classMt)
mixin sidebar__category(name)
    .sidebar__category #{name}

mixin main-post__content(src, title, date, num, watch, cases)
    img.main-post__img(src=src, alt='pic')
    h2.main-post__title #{title}
    .main-post__date #{date}
    .main-post__statistics
        .main-post__statistic
            img.main-post__img(src='../img/blog/blog/icons/comments.svg')
            .main-post__num #{num}
        .main-post__statistic
            img.main-post__img(src='../img/blog/blog/icons/watch.svg')
            .main-post__num #{watch}
        .main-post__statistic
            img.main-post__img(src='../img/blog/blog/icons/case.svg')
            .main-post__num #{cases}
